@use 'mixins' as *;
@use 'media' as *;
@use 'var' as *;

html {
    font-size: 16px;
    height: 100%;
}

body {
    font: 400 #{rem(16px)}/ 1.5 $ff-base;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: $black_color;
    background: $bgc_body;

    &.is-locked {
        overflow: hidden;
    }
}

main {
    flex: 1;
    overflow: hidden;
}

footer {
    margin-top: auto;
}

button {
    @include reset_button;
    display: flex;
    color: inherit;
}

a {
    @include reset_link;
}

.container {
    max-width: $container-width;
    width: 100%;
    padding-inline: var(--container-padding);
    margin: 0 auto;
}

section,
.scrl-mt {
    scroll-margin-top: var(--scrl-mt);
}

.container--right {
    padding-left: calc(
        (100% - $container-width) / 2 + var(--container-padding)
    );
}

.container--left {
    padding-right: calc(
        (100% - $container-width) / 2 + var(--container-padding)
    );
}

section {
    max-width: rem(2560px);
    margin: 0 auto;
}

section:has(.morph) {
    position: relative;
    overflow: hidden;
}

section:has(.dots-bg) {
    position: relative;
}

.js-custom-scroll {
    @include transitions(0.5s, cubic-bezier(0.768, 0.304, 0.496, 0.884));
}
section {
    &.benefits {
        .js-custom-scroll {
            bottom: -40%;

            &._animated {
                bottom: -19%;
            }
        }
    }
}
