@use '../../base/media' as *;
@use '../../base/mixins' as *;
@use '../../base/var' as *;
.content-title {
    font: 700 #{rem(64px)} / 110% $ff-base;
    @include media('tablet') {
        font-size: rem(44px);
    }
    @include media('mobile') {
        font-size: rem(36px);
    }
}
