@use '../../base/media' as *;
@use '../../base/mixins' as *;
@use '../../base/var' as *;

.morph {
    width: 526px;
    height: 516px;
    @include media('tablet') {
        width: rem(350px);
        height: rem(350px);
    }
    @include media('mobile') {
        width: rem(250px);
        height: rem(250px);
    }
}
