@use '../base/media' as *;
@use '../base/mixins' as *;
@use '../base/var' as *;

.gallery {
    position: relative;
    overflow: hidden;
    padding-block: var(--section-indent);

    .container {
        display: flex;
        flex-direction: column;
    }

    .morph {
        position: absolute;
        top: rem(-200px);
        right: rem(-200px);
        @include media('desktop') {
            top: rem(0px);
            right: rem(0px);
            transform: translate(45%, -65%);
        }
    }

    .section-info {
        margin-bottom: rem(139px);

        @include media('tablet') {
            margin-bottom: rem(100px);
        }
        @include media('mobile') {
            margin-bottom: rem(52px);
        }
    }

    .slider-nav {
        justify-content: flex-end;
    }

    .cta {
        z-index: 2;
        margin: 0 auto;
        margin-top: rem(96px);
        @include media('mobile') {
            margin-top: rem(52px);
        }
    }

    &__bg {
        opacity: 50%;
        position: absolute;
        width: rem(350px);
        height: rem(350px);
        top: rem(122px);
        z-index: 2;
        right: rem(-50px);
        pointer-events: none;
        @include media('tablet') {
            top: rem(20px);
            right: rem(20px);
        }
        @include media('mobile') {
            width: rem(150px);
            height: rem(150px);
            top: rem(-30px);
            right: rem(-30px);
        }
    }

    &__slider {
        overflow: visible;
        width: 100%;

        &-slide {
            width: auto;
            @include media('mobile') {
                width: inherit;
            }
        }
    }
}
