@use '../base/media' as *;
@use '../base/mixins' as *;
@use '../base/var' as *;

.logos {
    padding-block: rem(85px) var(--section-indent);
    position: relative;
    overflow: hidden;

    .container {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }

    .section-info {
        max-width: rem(400px);
    }

    &__list {
        padding-inline: rem(72px);
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: rem(50px) rem(40px);

        li {
            max-width: rem(188px);
            width: 100%;

            img {
                width: 100%;
            }
        }
    }

    &__bg {
        position: absolute;
        opacity: 50%;
        width: rem(350px);
        height: rem(350px);
        top: rem(-50px);
        left: rem(-86px);
        pointer-events: none;
    }
}
