@use '../base/media' as *;
@use '../base/mixins' as *;
@use '../base/var' as *;

.logos {
    padding-block: rem(85px) var(--section-indent);
    position: relative;
    overflow: hidden;
    @include media('mobile') {
        padding-block: var(--section-indent);
    }

    .container {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        @include media('tablet') {
            flex-direction: column;
            gap: rem(56px);
            // padding-inline: 0;
        }
    }

    .section-info {
        max-width: rem(400px);
        @include media('tablet') {
            max-width: rem(750px);
            margin: 0 auto;
            text-align: center;
            align-items: center;
        }
    }

    &__list {
        padding-inline: rem(72px);
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: rem(50px) rem(40px);
        @include media('tablet') {
            padding: 0;
            grid-template-columns: repeat(2, 1fr);
            gap: rem(20px);
            width: 100%;
            place-items: center;
        }
        li {
            max-width: rem(188px);
            width: 100%;

            @include media('tablet') {
                display: flex;
                align-items: center;
                justify-content: center;
                max-width: rem(100px);
            }

            img {
                width: 100%;
                @include media('tablet') {
                    margin: 0 auto;
                }
            }
        }
    }

    &__bg {
        position: absolute;
        opacity: 50%;
        width: rem(350px);
        height: rem(350px);
        top: rem(-50px);
        left: rem(-86px);
        pointer-events: none;
        @include media('tablet') {
            top: rem(20px);
            right: rem(20px);
        }
        @include media('mobile') {
            width: rem(150px);
            height: rem(150px);
            top: rem(-30px);
            right: rem(-30px);
        }
    }
}
