@use '../base/media' as *;
@use '../base/mixins' as *;
@use '../base/var' as *;

.reviews-modal {
    overflow: hidden;
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    height: 100dvh;
    z-index: 20;
    backdrop-filter: blur(200px);
    @include transitions(0.5s, cubic-bezier(0.768, 0.304, 0.496, 0.884));
    transform: translateY(-100%);

    &.is-open {
        transform: translate(0);
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: rem(12px);
    }

    &__box {
        position: relative;
        width: 100%;
        border-radius: rem(20px);
        padding: rem(20px);
        max-width: rem(600px);
        background: #f8f8f8;
    }

    &__close {
        position: absolute;
        top: rem(15px);
        right: rem(15px);
    }

    &__text {
        font: 300 #{rem(14px)} / 160% $ff-base;
        margin-bottom: rem(40px);
        padding-top: rem(17px);
        position: relative;
        @include media('mobile') {
            margin-bottom: rem(24px);
        }
        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: rem(13px);
            width: rem(67px);
            height: rem(52px);
            background: url('../imgs/ico/ico-quote_2.svg') no-repeat center
                center / cover;
        }
    }

    &__info {
        display: flex;
        align-items: center;
        gap: rem(8px);

        img {
            width: 64px;
            height: 64px;
            border-radius: 50%;
            object-fit: cover;

            @include media('mobile') {
                width: rem(42px);
                height: rem(42px);
            }
        }

        .col {
            display: flex;
            flex-direction: column;
            gap: rem(4px);

            p {
                margin: 0;
                &:first-child {
                    font: 700 #{rem(14px)} / 100% $ff-base;
                }

                &:last-child {
                    font: 300 #{rem(14px)} / 100% $ff-base;
                }
            }
        }
    }
}
